
a[href^="https://www.google.com"] {
    color: green;
}

a[href="https://www.link-group.eu/"] {
    color: red;
}

#second-div > p:nth-child(even) {
    color: red;
}

#second-div > p:nth-child(odd) {
    color: blue;
}

#first-div > p::after {
    content: "- NEW";
    color: yellow;
    font-style: italic;
}

body > p:nth-last-child(1):hover {
    font-style: italic;
}
